<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
    <link rel="icon" href="{{ url_for('static', filename='image/Taro.png') }}" type="image/png">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <div class="wrapper">
      <form method="POST">
    {{ form.hidden_tag()}}
    <img src="{{ url_for('static',filename='image/Taro.png') }}" alt="Logo">
      <!-- Notifikasi Flash Message -->
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      <div class="flash-messages">
          {% for category, message in messages %}
          <p class="flash {{ category }}">{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        
      <div class="input-field">
        <input type="text" name="username" required>
        <label>Enter your username</label>
      </div>
      <div class="input-field">
        <input type="password" name="password" required>
        <label>Enter your password</label>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>

  <!--<script src="../static/js/script.js"></script>-->
</body>
</html>