<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Informasi Mesin</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/navbar.css') }}"
  />
  <style>
    .image img {
      text-align: center;
      width: 200px;
      height: 200px;
    }
  </style>
  <body>
    <div class="header">
      <div class="logo">
        <a href="{{url_for('dashboard')}}">
          <img
            src="{{ url_for('static', filename='image/Taro.png') }}"
            alt="Logo"
          />
        </a>
      </div>
    </div>

    <div class="container mt-5">
      <h2>Buat Informasi PM Baru</h2>
      <form method="POST">
        <div class="row">
          <div class="col-9">
            <table class="table table-bordered">
              <tr>
                <th>ID Mesin</th>
                <td>
                  <input type="text" class="form-control" name="id_mesin" onkeyup="searchMachine(event, this)" placeholder="Cari mesin..." required/>
                  <div id="suggestion" class="list-group" style="display: none"></div>
                </td>
              </tr>
              <tr>
                <th>Tipe PM</th>
                <td>
                  <input type="text" class="form-control" name="tipe_pm" alt="Tipe PM" required/>
                </td>
              </tr>
              <tr>
                <th>Waktu PM</th>
                <td>
                  <input
                    type="date"
                    class="form-control"
                    name="time"
                    required
                  />
                </td>
              </tr>
            </table>
            <h2>Sparepart yang digunakan</h2>
            <table id="selectedSparepartTable" class="table table-striped">
              <thead>
                <tr>
                  <th>No</th>
                  <th>ID Sparepart</th>
                  <th>Nama Sparepart</th>
                  <th>Qty</th>
                  <th>Opsi</th>
                </tr>
              </thead>
              <tbody></tbody>
              <tfoot>
                <tr>
                  <td>
                    <input
                      type="text"
                      name="nama"
                      onkeyup="searchTable(event, this)"
                      placeholder="Tambahkan Sparepart"
                    />
                  </td>
                  <td colspan="5">
                    <div
                      id="suggestionBox"
                      class="list-group"
                      style="display: none"
                    ></div>
                  </td>
                </tr>

                <!--<tr class="add-row" onclick="addRow()" style="cursor: pointer">
                  <td colspan="5">➕ Tambah Baris</td>
                </tr>
              --></tfoot>
              <!--
                {%for sparepart in data.usedSpareparts%}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{sparepart[0]}}</td>
                  <td>{{sparepart[1]}}</td>
                  <td>{{sparepart[2]}}</td>
                  <td style="color: red; float: center; cursor: pointer;" onclick="removeRow(this)">❌</td>
                </tr>
                {%endfor%}
                -->
            </table>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Simpan</button>
        <a href="{{ url_for('pm') }}" class="btn btn-secondary">Batal</a>
      </form>
    </div>

    <script>
      let allSpareparts = {{data.allSpareparts | tojson}}
      let allMesin = {{data.allMesin | tojson}}
      console.log("Tes")
    </script>
    <script src="{{url_for('static', filename='js/pm_add.js')}}"></script>
  </body>
</html>
